body {
    background-color:	#38F2FE;
}

.box {
    border: 1px solid gray;
}

#login-box {
    width:20%;
    text-align: center;
    margin-top: 100px;
}

#main-logo {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.header {
    background-color: #36454f;
}

.header-nav {
    float: right;
}

.header-logo {
    width: 6%;
    height:auto;
    margin: 5px;
}

.header-logo:hover {
    cursor: pointer;
}

.left-header {
    position: absolute;
    margin-top: 9%;
    width: 8%;
}

.header-btn {
    width: 80%;
}

.header-text {
    color: white;
    display: inline-block;
    font-size: 64px;
    vertical-align: bottom;
    padding-left: 12%;
}

.profile-text {
    color: black;
    font-size: 48px;
    border-bottom: 1px solid rgb(20, 20, 20, .3);
    border-radius: 15px;
    max-width: 30%;
}

.password-enter {
    margin-left: -33%;
}

.main-container {
    margin-top:4%;
    margin-left: 16%;
    flex-wrap: wrap;
    max-width: 70%;
}

.artist {
    margin:auto;
    border-radius: 50%;
    background-color: white;
    width:200px;
    height:200px;
    text-align: center;
	overflow: hidden;
}

#song-header {
    width: 100%;
    border-bottom: .5px solid #F0F0F0;
}

.song {
    width: 100%;
    border-bottom: .5px solid #F0F0F0;
}

.song:hover {
    cursor:pointer;
    color: orange;
}

#play-song {
    position: fixed;
    background-color: white;
    bottom: 0px;
    width: 100%;
    border-top: 3px solid rgb(60, 60, 78);
    transition: height 1s;
}

.show-player {
    height:100px
}

.hide-player {
    height: 0px;
}

#player-title{
    font-size: 40px;
    position: absolute;
    top: 20%;
    left: 20%;
}

#player-artist{
    font-size: 40px;
    position: absolute;
    top: 20%;
    right: 20%;
}

.play-btn {
    position: absolute;
    height:95%;
    width: auto;
    margin-left: 45%;
}

.play-btn:hover {
    cursor: pointer;
}

#play-btn-container{
    width: 150px;
}

#exit-player-btn{
    position: absolute;
    float: right;
    width: 15px;
    height: auto;
    top: 5px;
    right: 5px;

}

.playlist {
    margin:auto;
    background-color: white;
    width:200px;
    height:200px;
    text-align: center;
}

#songs-container {
    background-color: white;  
}

.song-title {
    width:40%;
    display:inline-block;
}

.song-artist {
    width:20%;
    display:inline-block;
}

.song-album {
    width:20%;
    display:inline-block;
}

.song-genre {
    width: 15%;
    display:inline-block;
}

.col-centered{
    margin: 0 auto;
    float: none;
}
.artistImg{
    background-color: white;
    width:auto;
    height:200px;
	object-fit:contain;
}

.artistText{
	text-center
}
.artistBox{
	border: none;
	text-align:center
}
