body {
    background-color:	#38F2FE;
}

.box {
    border: 1px solid gray;
}

#login-box {
    width:20%;
    text-align: center;
    margin-top: 100px;
}

#main-logo {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.header {
    background-color: #36454f;
}

.header-nav {
    float: right;
}

.header-logo {
    width: 6%;
    height:auto;
    margin: 5px;
}

.header-logo:hover {
    cursor: pointer;
}

.left-header {
    position: absolute;
    margin-top: 9%;
    width: 8%;
}

.header-btn {
    width: 80%;
}

.header-text {
    color: white;
    display: inline-block;
    font-size: 64px;
    vertical-align: bottom;
    padding-left: 12%;
}

.profile-text {
    color: black;
    font-size: 48px;
    border-bottom: 1px solid rgb(20, 20, 20, .3);
    border-radius: 15px;
    max-width: 30%;
}

.password-enter {
    margin-left: -33%;
}

.main-container {
	margin-top: 1%;
    margin-left: 16%;
    flex-wrap: wrap;
    max-width: 70%;
}

.artist {
    margin:auto;
    border-radius: 50%;
    background-color: white;
    width:200px;
    height:200px;
    text-align: center;
	overflow: hidden;
}

.song {
    width: 100%;
    border-bottom: .5px solid #F0F0F0;
}

.song-header {
    width: 100%;
    border-bottom: .5px solid #F0F0F0;
}
.playlist {
    margin:auto;
    background-color: white;
    width:200px;
    height:200px;
    text-align: center;
}

#songs-container {
    background-color: white;  
}

.song-title {
    width:40%;
    display:inline-block;
}

.song-artist {
    width:20%;
    display:inline-block;
}

.song-album {
    width:20%;
    display:inline-block;
}

.song-genre {
    width: 15%;
    display:inline-block;
}

.col-centered{
    margin: 0 auto;
    float: none;
}
.artistImg{
//    margin:auto;
//    border-radius: 50%;
    background-color: white;
//	position: absolute;
//	clip: rect(0px, 200px, 200px, 0px);
    width:auto;
    height:200px;
//    text-align: center;
	object-fit:contain;
}

.artistText{
	text-center
}
.artistBox{
	border: none;
	text-align:center
}
.lib_button{
	float: right;
	background-color: green;
	padding: 10px
}
#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-info {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}
.modal-header {
  position: relative;
  padding: 10px 20px;
}
.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.modal-text{
	float: left;
    padding-right: 10px;
	width: 50px;
}

.plus-button{
    padding: 6px 3px 10px 3px;
	font-size: 25px;
	font-weight:900;
	line-height: 6px;
}
#search-input {
  margin-top:4%;
  margin-left: 16%;
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#search-input:focus {
  outline: none;
  background-color: #fff;
}

